Desafio-Backend/.vs
Desafio-Backend/Application/bin
Desafio-Backend/Application/obj
Desafio-Backend/Desafio-Backend/bin
Desafio-Backend/Desafio-Backend/obj
Desafio-Backend/Domain/bin
Desafio-Backend/Domain/obj
Desafio-Backend/Persistence/bin
Desafio-Backend/Persistence/obj
Desafio-Backend/XUnit/bin
Desafio-Backend/XUnit/obj


